html {
    background-color: cornflowerblue;
}
body {
    background-color: cornflowerblue;
    margin: 0;
    font-size: 1.2em;
}
div#wrapperDoc {
    background-color: cornflowerblue;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
div#wrapperHeader {
    width: 100%;
    height: 300px;
    background-color: cornflowerblue;
    text-align: center;
}
div#wrapperHeader div#header {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}
div#wrapperHeader div#header img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
div#wrapperNav {
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: cornflowerblue;
    color: aliceblue;
}
ul#nav {
    display: inline-block;
    height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul#nav li {
    float: left;
}
ul#nav li a {
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.4em;
}
ul#nav li a:visited {
    color: aliceblue;
}
ul#nav li a:hover {
    background-color: aliceblue;
    color: cornflowerblue;
}
div#wrapperBody {
    background-color: aliceblue;
    color: cornflowerblue;
    padding: 1em 1em 2em 1em;
}
div#wrapperFooter {
    width: 100%;
    margin: 1em 0 0 0;
    text-align: center;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 0.8em;
}
div#wrapperFooter a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}
div#wrapperFooter a:visited {
    color: aliceblue;
}
div#wrapperFooter a:hover {
    background-color: aliceblue;
    color: cornflowerblue
}
h1.title {
    font-size: 4em;
    text-align: center;
    text-decoration: underline;
}
p {
    text-indent: 4em;
}
img#picturePreview {
    width: 100%;
    display: none;
}
img#petPic {
    width: 100%
}
div.wrapperPet {
    min-height: 180px;
}
img.petPreview {
    float: left;
    max-width: 180px;
    max-height: 180px;
}
span.petName {
    font-size: 2em;
    font-weight: bold;
}